/* General styling for the header */
header {
  text-align: center;
  margin: 0; 
}

/* Container for the image and centered text */
.container {
  position: relative; 
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
}

/* Background image styling */
.background-image {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  z-index: -1; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

/* Centered text styling */
.centered-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adds shadow for better readability */
  text-align: center;
}

main h1, main h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  

  main p {
    text-align: left;
    margin: 10px 20px;
    line-height: 1.6; 
  }
  
  .half-white {
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 8px; 
    width: contain;
    margin: auto; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

  
  .header h1 {
    margin: 0;
  }

  /* Form grid styling for vertical stacking */
.form-grid {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    align-items: flex-start; 
    margin-left: 10px;
  }
  
  /* Form group styling for proper alignment */
  .form-group {
    display: flex;
    flex-direction: column; 
    width: 100%; 
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: left; 
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f3f3f3;
    outline: none;
    font-size: 14px;
    width: 100%; 
    margin-left: 10px;
      
  }
  
  /* Hover effect for inputs */
  .form-group input:focus {
    border-color: #4a00e0;
    background-color: white;
  }

  /* Submit button styling */
.submit-button {
  align-self: flex-start; 
  padding: 15px 30px; /* Matches the .promo-button padding */
  background-color: brown;
  color: white;
  border: none;
  border-radius: 5px; /* Matches the .promo-button border radius */
  font-size: 1.2rem; /* Matches the .promo-button font size */
  cursor: pointer;
  margin-top: 20px;
}

  